* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    background-image: url(https://res.cloudinary.com/syuz31/image/upload/v1592670829/beach-1835424_yldhh3.jpg);
    height: 100%;
  }
  .title {
    color: black;
    /*   text-align: center; */
    margin-top: 50px;
    margin-left: 100px;
    font-size: 70px;
    font-family: Courier, monospace;
  }
  .date {
    width: 435px;
    margin: 15px;
    margin-left: 125px;
    font-family: monospace;
  }
  .moods {
    margin: 15px;
    margin-left: 300px;
    font-size: 80px;
  }
  .mood1 {
    margin-left: 150px;
  }
  .mood2 {
    margin-left: 170px;
  }
  .mood3 {
    margin-left: 190px;
  }
  .mood4 {
    margin-left: 210px;
  }
  .mood5 {
    margin-left: 230px;
  }
  .mood6 {
    margin-left: 250px;
  }
  .button {
    border: none;
    border-radius: 20px;
    margin-left: 500px;
    padding: 8px;
    /*   background-color: #447aab; */
    background-image: linear-gradient(to right, #a1a1c2 0%, #e6c8e2 60%);
    font-size: 17px;
    font-family: monospace;
    cursor: pointer;
  }
  .tables {
    margin-left: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
  }
  .table,
  td {
    width: 400px;
    height: 40px;
    border: 1px solid black;
  }
  .white {
    background-color: #ffffff;
  }